<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Редактирование роли</title>
</head>
<body>
<h3>Редактирование роли</h3>

<form th:method="POST" th:action="@{/admin/users/edit/{id}(id=${person.getId()})}" th:object="${person}" enctype="multipart/form-data">
  <p th:text="'Id пользователя: ' + ${person.getId()}" ></p>
  <p th:text="'Логин: ' + ${person.getLogin()}"></p>
  <p th:text="'Пароль: ' + ${person.getPassword()}"></p>
  <br>
  <label for="role">Выберите роль </label>
  <select id="role" th:field="*{role}">
    <option th:text="ROLE_ADMIN"
            th:value = "ROLE_ADMIN">
    </option>
    <option th:text="ROLE_USER"
            th:value = "ROLE_USER">
    </option>
  </select>
  <div style="color: red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
  <br>
  <input type="submit" value="Редактировать">
</form>
</body>
</html>